# Folders
node_modules
dist
dist-ssr
data
temp
logs
venv
.venv
env
datasets
scripts/rplan
scripts/houses.npz
scripts/outputs
/ckpts/exp
/scripts/ckpts
slurm-*
embedder/ckpts
scripts/ckpts_backup
.model_cache
**.egg-info

# Files
*.local
**/*.log*
**/Kogo.zip
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.DS_Store?
._*
*.npz
*.gif
*.pt
house_diffusion.egg-info
classify_image_graph_def.pb
.Identifier
